<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330331130378-jvkei5l84qqrod9sqo1glenfglmptjfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330331130378-jvkei5l84qqrod9sqo1glenfglmptjfq</string>
	<key>API_KEY</key>
	<string>AIzaSyCSGwiwn5PMpQUJQUnP75ID3Jj5LFiXdNg</string>
	<key>GCM_SENDER_ID</key>
	<string>330331130378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.study.jhj</string>
	<key>PROJECT_ID</key>
	<string>jhj-flutter-first</string>
	<key>STORAGE_BUCKET</key>
	<string>jhj-flutter-first.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330331130378:ios:3681b7d15b9be2920fedf3</string>
</dict>
</plist>